@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #0F1320;
}

.learnMoreBtn{
  box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.25);
  padding: 0;
}


.preSaleBgImage{
  background-image: url(/static/img/cardBg.png);
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preSaleMbl {
    background: url(/static/img/mobileCardsBg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }


